body {width: 100% ;
background-color: rgb(87, 87, 87)
}
.maxDisplay{
    max-height: 350px;
    overflow: auto;
}
h1{ text-align:right;}
h1, h2{
    color: rgba(255, 255, 255, 0.91);
}
footer p{
    text-align: center;
    color : rgb(255, 0, 0);
}
p{
    color:aliceblue;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
}
 nav ul{
    text-align: center;
    font-size: 1.2em;
 }
 nav ul li {
    list-style-type: none;
    background-color: rgb(52, 211, 190);
    display: inline;
    padding: 15px;
    margin:5px;
    border:2px solid rgb(255, 55, 64);
    border-radius:10px
 }
 nav ul li a{
    color: white;
    text-decoration: none;
 }
 nav ul li:hover{
    background-color: rgb(78, 230, 19);
 }
 header{
    background-color: #ff0000;
    padding : 10px;
 }

 footer{
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width:100%;
    background-color: black;
 }
 body{
    font-family: Verdana;
    margin:0;
 }